<!-- Header -->
<nav>
  <div class="nav-wrapper teal darken-3">
    <span class="brand-logo center">Best Quotes</span>
  </div>
</nav>
<!-- END Header -->

<div class="container q-container">
  <!-- add quote -->
  <button class="btn-floating teal add-button" (click)="onSwitchForm()">
    <i class="material-icons" >add</i>
  </button>
  <div class="row edit-row" [class.drawer]="showForm">
    <div class="input-field col s4">
      <input type="text" placeholder="Author">
    </div>
    <div class="input-field col s6">
      <input type="text" placeholder="Sentence">
    </div>
    <div class="input-field col s2">
      <button class="btn small">Add</button>
    </div>
  </div>
  <!-- END add Quote -->

  <div class="row">
    <!-- Quotes list -->
    <div class="col s8">
      <div class="row">
        <div class="col s12">
          <!-- Single Card -->
          <div class="card teal accent-4 hoverable">
            <div class="card-content white-text">
              <span class="card-title">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, ipsum.
              </span>
              <em>Author</em>
            </div>
            <div class="card-action right-align">
              <span class="badge grey darken-2 left white-text">7</span>
              <button class="btn blue mr-5">
                <i class="material-icons">exposure_plus_1</i>
              </button>
              <button class="btn red mr-5">
                <i class="material-icons">exposure_minus_1</i>
              </button>
            </div>
          </div>
          <!-- END Single Card -->
          <div class="card teal accent-4 hoverable">
            <div class="card-content white-text">
              <span class="card-title">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, ipsum.
              </span>
              <em>Author</em>
            </div>
            <div class="card-action right-align">
              <span class="badge grey darken-2 left white-text">7</span>
              <button class="btn blue mr-5">
                <i class="material-icons">exposure_plus_1</i>
              </button>
              <button class="btn red mr-5">
                <i class="material-icons">exposure_minus_1</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Quotes List  -->
    <!-- Quotes Ranking -->
    <div class="col s4">
      <div class="col s12">
        <h5>Best Quotes</h5>
        <div class="collection">
          <p class="collection-item">
            <span class="blue lighten-4 badge">7</span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quaerat.
            <span class="blue-text"><em>Author</em></span>
          </p>
        </div>
      </div>
      <div class="col s12">
        <h5>Worst Quotes</h5>
        <div class="collection">
          <p class="collection-item">
            <span class="blue lighten-4 badge">-6</span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quaerat.
            <span class="blue-text"><em>Author</em></span>
          </p>
        </div>
      </div>
    </div>
    <!-- END Quotes Ranking -->
  </div>
</div>
