<!-- Header -->
<app-navbar></app-navbar>
<!-- END Header -->

<div class="container q-container">
  <!-- add quote -->
  <app-button customClasses="btn-floating teal add-button" (clickButton)="form.onSwitchForm()">
    <i class="material-icons" >add</i>
  </app-button>
  <app-form #form (newQuotation)="onNewQuotation($event)"></app-form>
  <!-- END add Quote -->

  <div class="row">
    <!-- Quotes list -->
    <div class="col s8">
      <app-quote-list [quotes]="quotes" (quoteListEvent)="addVote($event)" ></app-quote-list>
    </div>
    <!-- END Quotes List  -->
    <!-- Quotes Ranking -->
    <div class="col s4">
      <app-ranking [quotes]="quotes" [rank]="1" ></app-ranking>
      <app-ranking [quotes]="quotes" [rank]="-1" ></app-ranking>
    </div>
    <!-- END Quotes Ranking -->
  </div>
</div>
